# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
ENV/
env.bak/
venv.bak/

# Project specific
data/
test_data_ast/
*.zip
*.log

# IDEs
.vscode/
.idea/
*.swp
*.swo

# MacOS
.DS_Store
